<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SISDI-Versiones de Oficio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"/>
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
        <script th:src="@{/bootstrap/js/jquery.js}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    </head>
    <body>
        <header th:insert="menu/Head :: menu"></header>
        <div class="mt-2 col-md-1">
            <br> <br> <br>
        </div>
        <main>
            <div class="container">
                <div id="titulo">
                    <h3 class='font-italic text-center' id='titleh3'>Versiones de Oficio</h3>
                </div>
                <div th:insert="menu/HeadOffice :: menuOffice"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tableAcc" class="table table-striped table-bordered border-info" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center">Oficio</th>
                                            <th style="text-align: center">Versiòn</th>
                                            <th style="text-align: center">Fecha de versiòn</th>
                                            <th style="text-align: center">Hora</th>
                                            <th style="text-align: center">Motivo de versiòn</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr th:if="${versions == null or versions.empty}">
                                            <td colspan="6" style="text-align: center;">No existen versiones del oficio</td>
                                        </tr>
                                        <tr th:each="version : ${versions}" th:if="${versions != null and !versions.empty}">
                                            <td th:text="${version.id_office}"></td>
                                            <td  th:text="${version.version_number}"></td>
                                            <td  th:text="${version.version_date}"></td>
                                            <td  th:text="${version.version_time}"></td>
                                            <td  th:text="${version.version_description}"></td>
                                        </tr>
                                        <tr>                                            
                                    <a th:href="@{/versions/addVersion}">Agregar Versiòn</a> <!--Redireccionar al agregar version-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>