<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <nav th:fragment="menu" class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
            <button type="button" class="navbar-toggler bg-light"
                    data-toggle="collapse" data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="nav"> 
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> OFICIOS </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/offices/addOffice}">Agregar Oficio</a> 
                            <a class="dropdown-item"th:href="@{/offices/listOffices}">Lista de Oficios</a>
                            <a class="dropdown-item"th:href="@{/offices/pendingOffice}">Oficios Pendientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> EXPEDIENTES </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/offices/pendingExpediente}">Expedientes</a>
                            <a class="dropdown-item" th:href="@{/offices/addFile}">Agregar Expediente</a> 
                            <a class="dropdown-item" th:href="@{/offices/sendFile}">Trasladar expediente</a> 
                             
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bold px-3" href="#" th:text="PERFIL">PERFIL</a>
                    </li>
                    <li class="nav-item">
                        <form method="POST" th:action="@{/logout}">
                            <a class="nav-link text-light font-weight-bold px-3" href="#" onclick="this.parentNode.submit();">LOGOUT</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <p>
                            <input th:value="${session.user.username}" class="usuario" readonly="readonly"/>
                        </p>
                    </li>
                </ul>
                <ul class="nav pull-right">
                     <li class="nav-item dropdown">
                        <a class="nav-link text-light font-weight-bold px-3 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> <img th:src="@{/images/bell.png}" alt="" width="30px"/> </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div  id="oficiosRes"  >
                                
                            </div>
                            <hr>
                            <div  id="expedientesTras"  >
                                
                            </div>
                            
                             
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
       
    </body>
</html>
