<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <nav th:fragment="menuOffice">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/offices/editOffice}">Ver Oficio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/versions/listVersions}">Versiones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/offices/annulOffice}">Anular</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
